.upper-navbar{
    background-color: #274373;
}
.navbar-nav , .navbar {
 /* margin-inline: 80px; */
 background-color: #FFFFFF;
 
}
.navbar-nav li h6 {
    font-family: Almarai;
    font-size: 21px;
    font-weight: 700;
    padding-top: 6px;
    color: #1C1B1B;
}
.navbar-nav li h6:hover , .btn-1:hover , .btn-2:hover , .nav-item , .second-section .bell i:hover{
cursor: pointer;
}

.nav-item {
    position: relative; 
    text-decoration: none;
    color: inherit; 
    transition: color 0.3s ease; 
}

.nav-item::before,
.nav-item::after {
    content: ''; 
    position: absolute;
    left: 0;
    width: 20%; 
    height: 3px; 
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.nav-item::before {
    bottom: 0; 
}

.nav-item::after {
    bottom: 0; 
    transform: scaleX(0); 
    transform-origin: center bottom; 
}

.nav-item:hover::before,
.nav-item:hover::after,
.nav-item.active-page::before,
.nav-item.active-page::after {
    background-color: #032F70; 
}

.nav-item:hover::before,
.nav-item.active-page::before {
    height: 5px; 
    margin-top: 150px !important; 
}

.nav-item:hover::after,
.nav-item.active-page::after {
    height: 5px; /* Adjust thickness of underline */
    transform: scaleX(1); /* Scale to full width on hover/active */
}



li img{
    width: 30px;
     height: 30px; 
     margin-left: 15px;
}

li {
    width: 300px;
    /* margin-inline: 30px; */
}

.first-section img{
    height:70px;
    width:70px;
}
.first-section h2 {
    font-family: Almarai;
    font-size: 30px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    margin-right: 27px;
    color: #FFFFFF;
}
.second-section .btn-2 {
    font-family: Almarai;
    font-size: 24px;
    font-weight: 700;
    line-height: 22.32px;
    text-align: right;
    width: 200px;
    height: 44px;
    gap: 10px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}
#dropdownMenu a{
    color: red;
    background-color: #ffffff;
    font-size: 18px;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 60px;
    left: 0px;
    height: 55px;
    width: 220px !important;
    text-align: center;
}
#dropdownMenu2 a{
    color: red;
    background-color: #ffffff;
    font-size: 18px;
  }
  .dropdown-menu2 {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 65px;
    left: 242px;
    height: 235px;
    width: 214px !important;
    text-align: center;
    border-radius: 5px;
    padding: 7px;
    overflow-y: scroll;
}

.second-section .bell i{
font-size: 24px;
color: #FFFFFF;
}

.second-section input{
    width: 500px;
    height: 44px;

}
.second-section input::placeholder{
text-align: end;
padding-inline: 10px;
}
li:hover{
    color:#274373
}
body{
    background: #f5f6fa;
}
.row{
margin: 0 !important;
padding: 0 !important;
}
.container .icon {
    height: 80px ;
    width: 80px;
    border-radius: 50%;
    padding: 20px;
    
}
.card1 , .card2 , .card3 , .card4{
    /* width: 233px; */
height: 220px;
margin: 10px;
border-radius: 20px;
}
.container{
    background-color: #FFFFFF;
    border-radius: 20px;
}
.welcome{
height: 80px;
border-radius: 10px;
text-align: end;
padding: 20px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px -1px;
}
.welcome p{
    font-family: Almarai;
font-size: 35px;
font-weight: 700;
line-height: 44.64px;
text-align: right;
padding-right: 90px;

}
footer{
    background-color: #274373 ;
    height: 50px;
    padding: 10px;
}
footer p{
    text-align: center;
    color: #FFFFFF;
    font: 20px;
    font-weight: 700;
}
.details{
   padding: 70px 50px 100px 30px;
}
.details p{
    font-family: Almarai;
font-size: 28px;
font-weight: 700;
line-height: 35.71px;
text-align: center;

}
.card {
    display: flex;
    align-items: center;
    border: none;
    flex-direction: column;
    /* background-color: #ffffff; */
    /* margin: 0 20px; */
    /* width: 100%;
    height: 100%; */
    /* border-radius: 5px; */
    /* box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2); */
    /* justify-content: center; */
}

.card .percent {
  position: relative;
}

.card svg {
  position: relative;
  width: 210px;
  height: 210px;
  transform: rotate(-90deg);
}

.card svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 10;
  stroke-linecap: round;
}

.card svg circle:last-of-type {
  stroke-dasharray: 625px;
  stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
  stroke: #3498db; 
}

.card .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-side{
    width: 100%;
height: 100px;
border-radius: 20px 20px 0px 0px;
background-color: #F4F7FD;
box-shadow: rgba(99, 99, 99, 0.2) 0px -2px 1px -11px, 
rgba(99, 99, 99, 0.2) -2px 0px 4px -3px,
 rgba(99, 99, 99, 0.2) 2px 0px 4px -2px;
}
.header-side img{
    width: 50px;
height: 50px;

}
.header-side {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.header-side p {
    font-family: Almarai;
    font-size: 40px;
    font-weight: 700;
    line-height: 81.18px;
    text-align: right;
    padding-top: 14px;
}
.form-control{
    border-radius: 0px !important;
}
.input-group button{
    width: 36px;
height:44px;
padding: 0px 0px 0px 0px;
border-radius: 8px 0px 0px 8px;
background-color: #007AFF;
color: #FFFFFF;
}
.input-group select{
    width: 112px;
    height: 45px;
    background-color:rgb(235, 231, 231);
    color: #999595;
    font-size: 16px;
    border-radius: 0px 8px 8px 0px;
    font-family: Almarai;
line-height: 15.62px;
text-align: right;
font-weight: 600;
padding-right: 5px;
}
select option{
    background-color: #ffffff;
    text-align: right;
list-style:circle;
color: #999595;
}

.progress {
    width: 135px;
    height: 135px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 20px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 102%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -102%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #ffffff;
    font-size: 24px;
    color: #005BE4;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #005BE4;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}






@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

.footer-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .name {
    text-align: center; 
    padding: 30px;
    display: block; 
    width: 300px; 
  }
  .name p{
    font-family: Almarai;
font-size: 25px;
font-weight: 700;
line-height: 30px;
color: #1C1B1B;
  }
  .name h3{
    font-family: Almarai;
font-size: 25px;
font-weight: 400;
line-height: 30px;
color: #032F70;
  }
  .name button{
    width: 136px;
height: 47px;
padding: 10px 27px 10px 27px;
border-radius:10px;
background-color: #B3261E;
border: none;
color: #FFFFFF;
  }
  .navbar-toggler {
    background-color: #ffffff;
    color: #032F70; 
    box-shadow: #032F70;
  }
  .header-side {
    height: 75px;
}


/***************** style for categories **************/
.btn-all {
    width: 159px;
    height: 45px;
    border-radius: 10px;
    background-color: #FAFBFD;
    font-family: Almarai;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.78px;
    text-align: center;
    border: 0.5px solid #D7D8D9;
}
.wide-btn{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    background-color: #FAFBFD;
    font-family: Almarai;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.78px;
    text-align: center;
    border: 0.5px solid #D7D8D9;
}
.btn-all:hover{
background-color: #f1f1f1;
}
.btn-all a{
    text-decoration: none;
}
.btn-all img{
    height: 25px;
    width: 25px;
}
.dataTables_length{
    display: none;
}
.breadcrumb-nav {
    width: 90%;
    margin-right: 100px;
    background: #f5f6fa;
    --bs-breadcrumb-divider: '>';
}
.breadcrumb {
    display: flex;
    padding: 0px !important;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #f5f6fa;
    height: 28px;
    font-size: 15px;
}
/* .breadcrumb-item{
    margin-inline: -10px;
}
.breadcrumb li{
    width: 120px;
    padding-right: 5px;
} */
.breadcrumb li {
    /* width: 82px; */
    display: contents;
    /* padding-right: 5px; */
}
table{
    border-radius: 10px;
}
.table th{
    width: 120px;
    text-align: right;
}
.table td{
    text-align: right;
    color: #999999;
}